.game-card {
    transition: all 0.3s ease;
}

.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.neon-text {
    text-shadow: 0 0 10px #4f46e5, 0 0 20px #4f46e5, 0 0 30px #4f46e5;
}


.discord {
    background-color: #5765f2;
    border: 1px solid #5765f2;
    border-radius: 25px;
    margin-left: 10px;
}

.discord:hover {
    border-color: white;
    color: white;
}


/* Typography */
h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
    line-height: 1.2;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #e2e2e2;
}

h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    color: #e2e2e2;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #d1d1d1;
}

/* Lists */
ul,
ol {
    margin: 1rem 0;
    padding-left: 2rem;
    color: #d1d1d1;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

/* Text elements */
strong {
    color: #ffffff;
    font-weight: 600;
}


/* Links */
a {

    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #6366f1;
}

/* Button */
button {
    background: #4f46e5;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #6366f1;
}




/* Responsive adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }


}

.ads {
    flex: 0 0 25%;
    max-width: 25%;
    height: auto;
    /* Ensure it adjusts based on ad content */
    min-height: 250px;
    /* Set a minimum height for ad display */
    display: flex;
    justify-content: center;
    align-items: center;
}

.resad1 {
    display: block;
    /* Ensures it behaves like a block-level element */
    margin: 0 auto;
    /* Centers the div horizontally */
    text-align: center;
    /* Ensures content inside the div is centered */
    margin-top: 20px;
    margin-bottom: 15px;
}

.resad2 .resad3 {
    display: block;
    /* Ensures it behaves like a block-level element */
    margin: 0 auto;
    /* Centers the div horizontally */
    text-align: center;
    /* Ensures content inside the div is centered */
}